<ion-header>
  <ion-toolbar no-border-top>
    <ion-buttons left>
      <button ion-button (click)="onBackButtonClicked()">
        キャンセル
      </button>
    </ion-buttons>

    <ion-title>タスク追加</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="onFormSubmitted()">
    <ion-item>
      <ion-label>タイトル</ion-label>
      <ion-input type="text" [(ngModel)]="title" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>備考</ion-label>
      <ion-textarea [(ngModel)]="description" name="description"></ion-textarea>
    </ion-item>
    <button ion-button type="submit" block [disabled]="!isValid">タスクを追加</button>
  </form>
</ion-content>
