<ion-header>
  <ion-toolbar no-border-top>
    <ion-title>ToDoリスト</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="onRefresherActivated($event)">
    <ion-refresher-content pullingText="ひっぱって更新"
                           refreshingSpinner="circles"
                           refreshingText="読み込み中...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <button ion-item
            *ngFor="let task of tasks"
            (click)="onTaskClicked(task)">
      <ion-label>{{task.title}}</ion-label>
    </button>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab
            color="primary"
            (click)="onAddButtonClicked()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
